{{#each this}}
<a href="{{url}}" class="ui-category-item">
	<span class="ui-category-icon ui-color-{{setIndex @index}}">
		<span class="ui-icon-boot glyphicon {{icon}}"></span>
	</span>
	{{name}}
</a>
{{/each}} 